<div class="min-h-fit z-40 w-full p-2 overflow-y-auto transition-transform bg-zinc-50 transform-none" tabindex="-1">
    <form (ngSubmit)="submitForm(documentIdInput.value, collegeNameInput.value, abbreviationInput.value)">
      <input type="text" #documentIdInput placeholder="Document ID">
      <br>
      <input type="text" #collegeNameInput placeholder="College Name">
      <br>
      <input type="text" #abbreviationInput placeholder="Abbreviation">
      <br>
      <button type="submit">Add</button>
    </form>      
    <div class="relative overflow-x-auto">
      <table class="w-full text-sm text-left rtl:text-right text-gray-500">
        <thead class="text-xs text-zinc-50 uppercase border border-slate-900 bg-slate-900">
          <tr>
            <th scope="col" class="px-6 py-3">
              Departments
            </th>
            <th scope="col" class="px-6 py-3">
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let college of colleges | async" class="border border-slate-900">
            <td scope="row" class="px-6 py-4 font-medium text-slate-900 whitespace-nowrap">
              {{ college.CollegeName }}
            </td>
            <td class="px-6 py-4 text-slate-900">
              <div class="flex">
                <!-- Add your SVG icons or any other content here if needed, ALSO MAKE EDIT BUTTON -->
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  