<div class="h-screen bg-zinc-50 flex">

    <!-- Sidenav -->
    <aside class="container w-60 flex flex-col h-full justify-between border border-l-slate-300">
       <div class="container w-full p-8">
          <div class="container flex text-slate-900">
             <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6">
                <path d="M11.7 2.805a.75.75 0 01.6 0A60.65 60.65 0 0122.83 8.72a.75.75 0 01-.231 1.337 49.949 49.949 0 00-9.902 3.912l-.003.002-.34.18a.75.75 0 01-.707 0A50.009 50.009 0 007.5 12.174v-.224c0-.131.067-.248.172-.311a54.614 54.614 0 014.653-2.52.75.75 0 00-.65-1.352 56.129 56.129 0 00-4.78 2.589 1.858 1.858 0 00-.859 1.228 49.803 49.803 0 00-4.634-1.527.75.75 0 01-.231-1.337A60.653 60.653 0 0111.7 2.805z" />
                <path d="M13.06 15.473a48.45 48.45 0 017.666-3.282c.134 1.414.22 2.843.255 4.285a.75.75 0 01-.46.71 47.878 47.878 0 00-8.105 4.342.75.75 0 01-.832 0 47.877 47.877 0 00-8.104-4.342.75.75 0 01-.461-.71c.035-1.442.121-2.87.255-4.286A48.4 48.4 0 016 13.18v1.27a1.5 1.5 0 00-.14 2.508c-.09.38-.222.753-.397 1.11.452.213.901.434 1.346.661a6.729 6.729 0 00.551-1.608 1.5 1.5 0 00.14-2.67v-.645a48.549 48.549 0 013.44 1.668 2.25 2.25 0 002.12 0z" />
                <path d="M4.462 19.462c.42-.419.753-.89 1-1.394.453.213.902.434 1.347.661a6.743 6.743 0 01-1.286 1.794.75.75 0 11-1.06-1.06z" />
              </svg>                      
             <h1 class="ml-1 font-bold text-xl">RadiantHub</h1>
          </div>
          <hr class="mt-5">
          <ul class="mt-10">
             <li class="flex pb-8 text-red-500ld">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="w-6 h-6">
                   <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6A2.25 2.25 0 016 3.75h2.25A2.25 2.25 0 0110.5 6v2.25a2.25 2.25 0 01-2.25 2.25H6a2.25 2.25 0 01-2.25-2.25V6zM3.75 15.75A2.25 2.25 0 016 13.5h2.25a2.25 2.25 0 012.25 2.25V18a2.25 2.25 0 01-2.25 2.25H6A2.25 2.25 0 013.75 18v-2.25zM13.5 6a2.25 2.25 0 012.25-2.25H18A2.25 2.25 0 0120.25 6v2.25A2.25 2.25 0 0118 10.5h-2.25a2.25 2.25 0 01-2.25-2.25V6zM13.5 15.75a2.25 2.25 0 012.25-2.25H18a2.25 2.25 0 012.25 2.25V18A2.25 2.25 0 0118 20.25h-2.25A2.25 2.25 0 0113.5 18v-2.25z" />
                </svg>                
                <a routerLink="/dashboard" class="ml-2 text-slate-900">Dashboard</a>
             </li>
             <li class="flex pb-8 text-slate-900">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                   <path stroke-linecap="round" stroke-linejoin="round" d="M12 7.5h1.5m-1.5 3h1.5m-7.5 3h7.5m-7.5 3h7.5m3-9h3.375c.621 0 1.125.504 1.125 1.125V18a2.25 2.25 0 01-2.25 2.25M16.5 7.5V18a2.25 2.25 0 002.25 2.25M16.5 7.5V4.875c0-.621-.504-1.125-1.125-1.125H4.125C3.504 3.75 3 4.254 3 4.875V18a2.25 2.25 0 002.25 2.25h13.5M6 7.5h3v3H6v-3z" />
                </svg>                
                <a routerLink="/student-prospectus" class="ml-2 font-bold">Prospectus</a>
             </li>
             <li class="flex pb-8 text-slate-900">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                   <path stroke-linecap="round" stroke-linejoin="round" d="M11.35 3.836c-.065.21-.1.433-.1.664 0 .414.336.75.75.75h4.5a.75.75 0 00.75-.75 2.25 2.25 0 00-.1-.664m-5.8 0A2.251 2.251 0 0113.5 2.25H15c1.012 0 1.867.668 2.15 1.586m-5.8 0c-.376.023-.75.05-1.124.08C9.095 4.01 8.25 4.973 8.25 6.108V8.25m8.9-4.414c.376.023.75.05 1.124.08 1.131.094 1.976 1.057 1.976 2.192V16.5A2.25 2.25 0 0118 18.75h-2.25m-7.5-10.5H4.875c-.621 0-1.125.504-1.125 1.125v11.25c0 .621.504 1.125 1.125 1.125h9.75c.621 0 1.125-.504 1.125-1.125V18.75m-7.5-10.5h6.375c.621 0 1.125.504 1.125 1.125v9.375m-8.25-3l1.5 1.5 3-3.75" />
                </svg> 
                <a routerLink="/student-enrollment" class="ml-2">Enrollment</a>
             </li>
          </ul>
       </div>
       <div class="container p-8">
          <ul class="">
             <li class="flex pt-5">
                <a href="" class="ml-1">Help</a>
             </li>
             <li class="flex pt-5">
                <a href="" class="ml-1">Contact us</a>
             </li>
             <li class="flex pt-5 pb-5">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                   <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 9V5.25A2.25 2.25 0 0013.5 3h-6a2.25 2.25 0 00-2.25 2.25v13.5A2.25 2.25 0 007.5 21h6a2.25 2.25 0 002.25-2.25V15m3 0l3-3m0 0l-3-3m3 3H9" />
                </svg>          
                <a (click)="authService.signOut()" href="" class="ml-2">Logout</a>
             </li>
          </ul>
       </div>
    </aside>
 
    <div class="container m-1 p-7">
       <!-- top -->
       <div class="container flex justify-between">
         <!-- Inside your HTML template -->
         <div class="flex flex-col">
            <h1 class="font-bold text-xl text-slate-900">Welcome back, {{ displayNameFirstHalf }} 👋</h1>
            <p>Here's what you have for the rest of the school year.</p> 
         </div>
 
          <div class="flex">
             <a href="" class="pr-3">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                   <path stroke-linecap="round" stroke-linejoin="round" d="M14.857 17.082a23.848 23.848 0 005.454-1.31A8.967 8.967 0 0118 9.75v-.7V9A6 6 0 006 9v.75a8.967 8.967 0 01-2.312 6.022c1.733.64 3.56 1.085 5.455 1.31m5.714 0a24.255 24.255 0 01-5.714 0m5.714 0a3 3 0 11-5.714 0" />
                </svg>
             </a>
             <a href="" class="flex">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                   <path stroke-linecap="round" stroke-linejoin="round" d="M17.982 18.725A7.488 7.488 0 0012 15.75a7.488 7.488 0 00-5.982 2.975m11.963 0a9 9 0 10-11.963 0m11.963 0A8.966 8.966 0 0112 21a8.966 8.966 0 01-5.982-2.275M15 9.75a3 3 0 11-6 0 3 3 0 016 0z" />
                </svg> 
                <h1 class="pl-4 pr-3">{{ userName$ | async }}</h1>
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-6">
                   <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 8.25l-7.5 7.5-7.5-7.5" />
                </svg>                
             </a>                    
          </div>
       </div>
 
       <div class="grid grid-cols-1 mt-7">
            <h1 class="py-3 font-bold text-xl">Prospectus</h1>
            <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
                <table class="w-full text-sm text-left rtl:text-right text-gray-500">
                    <thead class="text-xs text-zinc-50 uppercase bg-red-500">
                        <tr>
                            <th scope="col" class="p-4">
                                <div class="flex items-center">
                                    <input id="" type="checkbox" class="w-4 h-4 bg-gray-100 border-red-500 rounded">
                                    <label for="" class="sr-only">checkbox</label>
                                </div>
                            </th>
                            <th scope="col" class="px-6 py-3">
                                Subject No.
                            </th>
                            <th scope="col" class="px-6 py-3">
                                Offer Code
                            </th>
                            <th scope="col" class="px-6 py-3">
                                Descriptive Title
                            </th>
                            <th scope="col" class="px-6 py-3">
                                Units
                            </th>
                            <th scope="col" class="px-6 py-3">
                                Enroll Date
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="bg-white border-b hover:bg-gray-200">
                            <td class="w-4 p-4">
                                <div class="flex items-center">
                                    <input type="checkbox" class="w-4 h-4 bg-gray-100 border-gray-300 rounded">
                                    <label class="sr-only">checkbox</label>
                                </div>
                            </td>
                            <th scope="row" class="px-6 py-4 font-medium text-slate-900 whitespace-nowrap">
                                1930
                            </th>
                            <td class="px-6 py-4 text-slate-800">
                                11101
                            </td>
                            <td class="px-6 py-4 text-slate-800">
                                Networking 2
                            </td>
                            <td class="px-6 py-4 text-slate-800">
                                17.00
                            </td>
                            <td class="px-6 py-4 text-slate-800">
                                January 12, 2023
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
       </div>

       <div class="py-2 mt-7 grid-cols-2">
            <div class="mb-4">
                <button class="bg-yellow-600 hover:bg-yellow-700 rounded-sm px-5 py-2 text-gray-100 hover:shadow-xl transition duration-150 uppercase">Withdraw</button>
            </div>

            <hr>

            <div class="container">
                <div class="flex flex-col my-4">
                    <label for="" class="text-gray-800">College</label>
                    <div class="flex">
                    <select [(ngModel)]="college" (change)="onCollegeSelected()" required name="college" class="flex-grow mt-2 p-2 border border-gray-300 focus:outline-none focus:ring-0" name="college" id="college">
                        <option value="" disabled selected>Select a College</option>
                        <option *ngFor="let college of colleges | async" [value]="college.value">{{ college.label }}</option>
                    </select>
                    </div>
                </div>

                <div class="flex flex-col my-4">
                    <label for="" class="text-gray-800">Program</label>
                    <div class="flex">
                    <select [(ngModel)]="programs" required name="program" class="flex-grow mt-2 p-2 border border-gray-300 focus:outline-none focus:ring-0" name="program" id="program">
                        <option value="" disabled selected>Select a Program</option>
                        <option *ngFor="let program of programs | async" [value]="program.value">{{ program.label }}</option>
                    </select>
                    </div>
                </div>
                <button class="bg-red-600 hover:bg-red-700 rounded-sm px-10 py-2 text-gray-100 hover:shadow-xl transition duration-150 uppercase">Shift</button>
            </div>

            <div class="container my-6">
                <h3 class="font-bold">Note:</h3>
                <p>Newly enrolled or withdrawn subjects, as well as shifting details, will not be reflected here immediately. <br> They will be evaluated and displayed upon next login.</p>
            </div>
       </div>
 
 
    </div>
 </div>