<form class="my-8 text-sm">
    <div class="flex flex-col my-4">
        <label for="" class="text-gray-800">Name</label>
        <div class="flex">
            <input [(ngModel)]="firstName" required name="firstName" type="text" class="mt-2 p-2 flex-grow border border-gray-300 focus:outline-none focus:ring-0" placeholder="First name">
            <input [(ngModel)]="lastName" required name="lastName" type="text" class="mt-2 ml-3 flex-grow p-2 border border-gray-300 focus:outline-none focus:ring-0" placeholder="Last name">
        </div>
    </div>

    <div class="flex flex-col my-4">
        <label for="" class="text-gray-800">Student Number and Year Level</label>
        <div class="flex">
            <input [(ngModel)]="studentNumber" name="studentNumber" required  type="number" class="flex-grow mt-2 p-2 border border-gray-300 focus:outline-none focus:ring-0" placeholder="Enter your student number">
            <select [(ngModel)]="yearLevel" required class="flex-grow mt-2 ml-3 p-2 border border-gray-300 focus:outline-none focus:ring-0" name="yearLevel" id="yearLevel">
                <option value="1">1st Year</option>
                <option value="2">2nd Year</option>
                <option value="3">3rd Year</option>
                <option value="4">4th Year</option>
            </select>
        </div>
    </div>

    <div class="flex flex-col my-4">
        <label for="" class="text-gray-800">Email address</label>
        <div class="flex">
            <input [(ngModel)]="email" required name="email" type="text" class="flex-grow mt-2 p-2 border border-gray-300 focus:outline-none focus:ring-0" placeholder="Enter your email">
        </div>
    </div>

    <div class="flex flex-col my-4">
        <label for="" class="text-gray-800">College</label>
        <div class="flex">
        <select [(ngModel)]="college" (change)="onCollegeSelected()" required name="college" class="flex-grow mt-2 p-2 border border-gray-300 focus:outline-none focus:ring-0" name="college" id="college">
            <option value="" disabled selected>Select a College</option>
            <option *ngFor="let college of colleges | async" [value]="college.value">{{ college.label }}</option>
        </select>
        </div>
    </div>

    <div class="flex flex-col my-4">
        <label for="" class="text-gray-800">Program</label>
        <div class="flex">
        <select [(ngModel)]="program" required name="program" class="flex-grow mt-2 p-2 border border-gray-300 focus:outline-none focus:ring-0" name="program" id="program">
            <option value="" disabled selected>Select a Program</option>
            <option *ngFor="let program of programs | async" [value]="program.value">{{ program.label }}</option>
        </select>
        </div>
    </div>

    <div class="my-4 flex items-center justify-end space-x-4">
        <p class="text-gray-600 italic">Default Password: *temp_12345</p>
        <button (click)="addStudent()" class="bg-red-500 hover:bg-red-500 rounded-lg px-8 py-2 text-gray-100 hover:shadow-xl transition duration-150 uppercase">Add Student</button>
    </div>
    
</form>