<div class="min-h-fit mt-1 z-40 w-full p-4 overflow-y-auto transition-transform bg-zinc-50 transform-none" tabindex="-1">
    <form action="">
        <div class="flex flex-col mb-4">
            <label for="" class="text-slate-900 font-bold">College</label>
            <div class="flex">
                <select [(ngModel)]="college" (change)="onCollegeSelected()" required name="college" class="flex-grow mt-2 p-2 border border-gray-300 focus:outline-none focus:ring-0" name="college" id="college">
                    <option value="" disabled selected>Select a College</option>
                    <option *ngFor="let college of colleges | async" [value]="college.value">{{ college.label }}</option>
                </select>
            </div>
        </div>

        <div class="flex flex-col mt-2 mb-4">
            <label for="" class="text-gray-800">Add details</label>
            <div class="flex">
              <input [(ngModel)]="subjectName" name="subjectName" type="text" class="mt-2 p-2 flex-grow border border-gray-300 focus:outline-none focus:ring-0" placeholder="Subject">
              <input [(ngModel)]="subjectCode" name="subjectCode" type="text" class="mt-2 ml-3 flex-grow p-2 border border-gray-300 focus:outline-none focus:ring-0" placeholder="Code" minlength="5" maxlength="5">

            </div>
          
            <div class="my-4 items-center space-x-4">
                <button (click)="addSubject()" class="bg-red-500 hover:bg-red-500 rounded-lg px-8 py-2 text-gray-100 hover:shadow-xl transition duration-150 uppercase">Add</button>
            </div>
        </div>

        <div class="relative overflow-x-auto">
            <table class="w-full text-sm text-left rtl:text-right text-gray-500">
              <thead class="text-xs text-zinc-50 uppercase border border-slate-900 bg-slate-900">
                <tr>
                  <th scope="col" class="px-6 py-3">
                    Subject
                  </th>
                  <th scope="col" class="px-6 py-3">
                    Code
                  </th>
                  <th scope="col" class="px-6 py-3">
                  </th>
                </tr>
              </thead>
              <ng-container *ngIf="subjects | async as subjects; else noRecords">
                <tbody *ngIf="subjects.length > 0; else noRecords">
                  <tr *ngFor="let subject of subjects" class="border border-slate-900">
                    <th scope="row" class="px-6 py-4 font-medium text-slate-900 whitespace-nowrap">
                      {{ subject.label }}
                    </th>
                    <td class="px-6 py-4 text-slate-900">
                      {{ subject.code }}
                    </td>
                    <td class="px-6 py-4 text-slate-900">
                      <div class="flex">
                        <svg (click)="openEditModal(subject)" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6 mr-2 cursor-pointer">
                          <path d="M21.731 2.269a2.625 2.625 0 00-3.712 0l-1.157 1.157 3.712 3.712 1.157-1.157a2.625 2.625 0 000-3.712zM19.513 8.199l-3.712-3.712-8.4 8.4a5.25 5.25 0 00-1.32 2.214l-.8 2.685a.75.75 0 00.933.933l2.685-.8a5.25 5.25 0 002.214-1.32l8.4-8.4z" />
                          <path d="M5.25 5.25a3 3 0 00-3 3v10.5a3 3 0 003 3h10.5a3 3 0 003-3V13.5a.75.75 0 00-1.5 0v5.25a1.5 1.5 0 01-1.5 1.5H5.25a1.5 1.5 0 01-1.5-1.5V8.25a1.5 1.5 0 011.5-1.5h5.25a.75.75 0 000-1.5H5.25z" />
                        </svg>
                        <svg (click)="deleteSubject(subject.value)" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6 cursor-pointer">
                          <path fill-rule="evenodd" d="M16.5 4.478v.227a48.816 48.816 0 013.878.512.75.75 0 11-.256 1.478l-.209-.035-1.005 13.07a3 3 0 01-2.991 2.77H8.084a3 3 0 01-2.991-2.77L4.087 6.66l-.209.035a.75.75 0 01-.256-1.478A48.567 48.567 0 017.5 4.705v-.227c0-1.564 1.213-2.9 2.816-2.951a52.662 52.662 0 013.369 0c1.603.051 2.815 1.387 2.815 2.951zm-6.136-1.452a51.196 51.196 0 013.273 0C14.39 3.05 15 3.684 15 4.478v.113a49.488 49.488 0 00-6 0v-.113c0-.794.609-1.428 1.364-1.452zm-.355 5.945a.75.75 0 10-1.5.058l.347 9a.75.75 0 101.499-.058l-.346-9zm5.48.058a.75.75 0 10-1.498-.058l-.347 9a.75.75 0 001.5.058l.345-9z" clip-rule="evenodd" />
                        </svg>                                      
                      </div>
                    </td>
                  </tr>
                </tbody>
              </ng-container>
              
              <ng-template #noRecords>
                <tr>
                  <td colspan="3" class="px-6 py-4 text-center text-slate-900 border border-gray-300">
                    No records available.
                  </td>
                </tr>
              </ng-template>
            </table>
            <app-edit-subj-modal *ngIf="showEditModal" [subject]="selectedSubjectForEdit" (updateSubject)="onSubjectUpdate($event)"></app-edit-subj-modal>
          </div>
          
    </form>
</div>