<div class="min-h-fit mt-1 z-40 w-full p-4 overflow-y-auto transition-transform bg-zinc-50 transform-none" tabindex="-1">
    <div class="flex flex-col mb-4">
        <label for="" class="text-slate-900 font-bold">College</label>
        <div class="flex">
            <select [(ngModel)]="college" (change)="onCollegeSelected()" required name="college" class="flex-grow mt-2 p-2 border border-gray-300 focus:outline-none focus:ring-0" name="college" id="college">
                <option value="" disabled selected>Select a College</option>
                <option *ngFor="let college of colleges | async" [value]="college.value">{{ college.label }}</option>
            </select>
        </div>
    </div>

    <div *ngIf="enrollees | async as enrolleesData">
        <table class="w-full text-sm text-left rtl:text-right text-gray-500">
          <thead class="text-xs text-zinc-50 uppercase border border-slate-900 bg-slate-900">
            <tr>
              <th scope="col" class="px-6 py-3">
                Name
              </th>
              <th scope="col" class="px-6 py-3">
                Year
              </th>
              <th scope="col" class="px-6 py-3">
                Program
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let enrollee of enrolleesData" class="border border-slate-900">
              <th scope="row" class="px-6 py-4 font-medium text-slate-900 whitespace-nowrap">
                {{ enrollee.displayName }}
              </th>
              <td class="px-6 py-4 text-slate-900">
                {{ enrollee.yearLevel }}
              </td>
              <td class="px-6 py-4 text-slate-900">
                {{ enrollee.program }}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      
</div>